 * {
    background: #F3F5FC
    ;
    background-image: url(/assets/);
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%
 }

 .foto-profile{
    margin-left: 10px;
    padding-top: 10px;
    width: 5%;
 }

 #profile{
    margin-left: 1.5%;
 }

 /*display: flex permite uma section se posicinar uma section uma do  lado da outra de forma flexível
  */
main {
    display: flex;   
    margin-bottom: 50px;
    margin-left: 80px;

}

.input {

    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase; /* bloqueio no teclado para impedir maiúsculas*/
}

/* pseudoclasses-  editando placehorder e colocando focus no css*/
::placeholder { color: #0A3871;}
    .input:focus{
        outline: none;
    }

.output {


    background: #FFFFFF;
    background-image: url(/assets/High\ quality\ products\ 1\ 1.jpg);  /* Utilizamos uma imagem como background */
    background-repeat: no-repeat;                                      /* Não repita várias imagens */
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    color: #0A3871;
    margin-left: 20px;
    margin-top: 20px;
    
}

.output:focus{
    outline: none;
}

.output.background{
    background: white;
    padding: 30px;
}


.container-button-copiar {


width: 336px;
height: 67px;
font-size: 16px;
margin-left: -385px;
margin-top: 412px;
position: absolute;
;
color: #0A3871;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;
cursor: pointer;
background: white;

}

.container-button-copiar:hover {
    background: #0A3871;
    color: white;
    opacity: 70%;
}

.container-button-copiar.ativo {

    background: #0A3871;
    ;

    color: #FFFFFF;

}


.container-exclamation {


color: #495057;
font-size: 18px;

}


.img-exclamacao {

    margin-bottom: -50px;
    height: 16px;

}

.texto-alerta{
    margin-left: 20px;
    font-size: 12px;
    

}


.cointainer-button {

display: flex;
margin-top: 18px;

}


.criptografar {

/* Button */


width: 328px;
height: 67px;
cursor: pointer;
font-size: 16px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;
border: 1px solid #0A3871;

/* White */

color: #FFFFFF;

}

.criptografar:hover {

    background-color: #0a387163;
    
}


.descriptografar {

/* Button */


width: 328px;
height: 67px;
margin-left: 30px;
font-size: 16px;


/* Light gray */

background: #D8DFE8;

/* Dark blue/dark-blue-300 */

color: #0A3871;
border: 1px solid #0A3871;
border-radius: 24px;
cursor: pointer;

}

.descriptografar:hover {

      background-color: #0a38715e;
}

#mensagem {
font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: center;
color: #343A40;
position: relative;
bottom: 200px;
padding: 5px;
width: 300px;
height: 58px;
margin-left: 60px;
background-color: white;

}


#informacao {

font-size: 16px;
line-height: 24px;
text-align: center;
color: #495057;
position: relative;
bottom: 180px;
width: 336px;
height: 48px;
padding: 5px;
margin-left: 40px;
background-color: white;

}



